input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  cursor: pointer;
  background-color: transparent;
}

input[type="checkbox"]:checked {
  background: linear-gradient(#FE512E, #F09619);
  border: none;
  position: relative;
}

input[type="checkbox"]:checked::after {
  content: "✔";
  position: absolute;
  color: white !important;
  font-weight: bold;
  font-size: 1rem;
  left: 0.5px;
  top: -4px;
}
 
